.tag {
  border-radius: var(--border-radius-rounded);
  color: var(--color-white);
  display: inline-block;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  padding: var(--space-6) var(--space-12);
}

.tag--success {
  background-color: var(--success-color);
}

.tag--warning {
  background-color: var(--warning-color);
  color: var(--color-black);
}

.tag--error {
  background-color: var(--error-color);
}
