.tag {
  color: white;
  padding: 6px 12px;
  border-radius: 30px;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
}

.tag--success {
  background-color: var(--success-color);
}

.tag--warning {
  background-color: var(--warning-color);
}

.tag--error {
  background-color: var(--error-color);
}
