.page {
  display: grid;
  grid-template-columns: 240px 1fr;
  min-height: 100vh;
}

.sidebar {
  background-color: var(--primary-color);
}

/* FILTERS */
.filters {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--font-size-base);
  gap: var(--space-16);
  justify-content: space-between;
  margin: var(--space-24);
  text-align: center;
}

.filters__wrapper {
  display: flex;
  gap: var(--space-16);
}

.filters__input {
  max-width: 300px;
  width: 100%;
}

/* activityFeed */

.activityFeed {
  margin: var(--space-24);
}

.activityFeed__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-16);
}

.activityFeed__headerWrapper {
  display: flex;
  align-items: center;
  gap: var(--space-16);
}

.activityFeed__activeFilters {
  display: flex;
  gap: var(--space-8);
  flex-wrap: wrap;
}

.activityFeedList {
  font-size: var(--font-size-base);
  list-style: none;
  margin: 0;
  padding: 0;
}

.activityFeedList__item {
  background-color: var(--color-white);
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 120px;
  justify-content: space-between;
  padding: var(--space-16) var(--space-20);
}

.activityFeedList__item:not(:last-child) {
  border-bottom: 1px solid var(--input-border-color);
}

.activityFeedList__tag {
  text-align: right;
}


.activityFeedList__subject,
.activityFeedList__name,
.activityFeedList__description,
.activityFeedList__date {
  margin: 0;
}

.activityFeedList__subject,
.activityFeedList__name {
  color: var(--primary-color);
  line-height: 1.25rem;
}

.activityFeedList__description,
.activityFeedList__date {
  color: var(--input-text-color);
  line-height: 1rem;
}

.activityFeedList__date {
  font-size: var(--font-size-small);
}

.activityFeedList__noResults {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  margin-top: 130px;
}