.header {
  align-items: center;
  background-color: var(--color-white);
  display: flex;
  gap: var(--space-16);
  justify-content: space-between;
  min-height: 80px;
  padding: 0 var(--space-24);
}

/* Breadcrumb */

.breadcrumb {
  border-left: var(--space-4) solid var(--primary-color);
  padding-left: var(--space-8);
}

.breadcrumbTitleWrapper {
  align-items: center;
  display: flex;
  gap: var(--space-12);
}

.breadcrumbTitle {
  font-size: 1.125rem;
  margin: 0;
}

.breadcrumbLabel {
  border-radius: 0.25rem;
  color: var(--color-white);
  font-size: var(--font-size-small);
  overflow: hidden;
}

.breadcrumbLabel .breadcrumbLabelName,
.breadcrumbLabel .breadcrumbLabelStatus {
  display: inline-block;
  padding: var(--space-2) var(--space-6);
}

.breadcrumbLabelName {
  background-color: var(--primary-color);
}

.breadcrumbLabelStatus {
  background-color: var(--success-color);
}

.breadcrumbList {
  display: flex;
  color: grey;
  flex-wrap: wrap;
  font-size: var(--font-size-small);
  list-style: none;
  padding: var(--space-4) 0 0;
  margin: 0;
}

.breadcrumbListItem:not(:last-child)::after {
  content: "/";
  padding: 0 var(--space-4);
}

.breadcrumbLink {
  color: var(--primary-color);
  text-decoration: none;
}

.breadcrumbLink:hover {
  text-decoration: underline;
}

/* Buttons */

.actionGroup {
  display: flex;
  gap: var(--space-8);
}